body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-color: #19222c;
  color: #bdc0c5;
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  opacity: 1 !important;
  overflow-y: scroll;
  height: 100%;
  direction: rtl;
}

*,
:after,
:before {
  box-sizing: border-box;
} // app global css in SCSS form

.q-field__native {
  color: #bdc0c5;
  display: inline-block;
  margin-left: 0.5em;
  width: auto;
  border-radius: 0.1rem;
  font-size: 0.75rem;
  min-height: calc(1.525rem + 2px);
  padding: 0.2rem 0.5rem !important;
  text-align: left;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #222e3c;
  border: 1px solid #7a828a;
  font-weight: 400;
  line-height: 1.5 !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  direction: ltr;
}
.q-field__control {
  min-height: calc(1.525rem + 2px);
  height: auto !important;
}
.q-field__label {
  left: -50px;
  top: 4px !important;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #bdc0c5 !important;
  transition: none !important;
  transform: none !important;
}
input,
i {
  color: #bdc0c5;
}
button {
  background-color: #326abc;
  border-color: #2f64b1;
  color: #fff;
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.q-card__section {
  padding: 0;
}
.btn-action-container{
  width: 500px;
  max-width: 320px!important;
}
.btn-action-container button{
  margin: 0 10px;
}
.q-table tbody td {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.q-field__control{
  border: 1px solid #7a828a;
  border-radius: .1rem;
  height: auto!important;
  min-height: 28px!important;
}
.q-field__control-container{
  height: auto;
}
.q-field__control-container .q-field__native{
  display: flex;
  border: none;
  font-size: .75rem;
  padding-bottom: .2rem!important;
  padding-left: .5rem!important;
  padding-top: .2rem!important;
  min-height: 10px!important;
  height: auto;
}
.q-field__control .q-field__append{
  display: flex;
  padding-left: 0!important;
  border: none;
  margin-left: 0;
  min-height: 25px!important;
  height: auto!important;
}
.q-menu{
  color: #bdc0c5;
  background-color: #222e3c;
}
.q-manual-focusable--focused{
  background-color: #1976d2;
  color: #e9ecef!important;

}
.q-item--active{
  color: #bdc0c5!important;
}
